body {
    background-color: rgb(203, 207, 218);
    font-family: 'Oswald', sans-serif;
}

.form-control {
    text-align: center;
}

.result {
    text-align: center;
}
.container-sm {
    margin-top: 25vw;
}
.btn {
    margin-top: 5px;
    float: right; 
}
.mb-3 {
    text-align: center;
}
.form-label {
    margin-top: 5px;
}

@media (max-width: 576px) {
    .mb-3 {
        margin-left: 10vw;
        margin-right: 10vw;
    }
  
  }