body {
    background-color: rgb(203, 207, 218);
    font-family: 'Oswald', sans-serif;
}

.navbar-brand .navbar {
    text-align: center;
}

.result {
    text-align: center;
}
.container-sm {
    margin-top: 25vw;
}
.btn {
    margin-top: 5px;
    float: right; 
}
.form-label {
    text-align: center;
}